

  <nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" id="brand-override" href="#">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" id="fuck-you"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saved">Saved Articles</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning scrape-new">SCRAPE NEW ARTICLES!</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning clear">CLEAR ARTICLES!</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron-fluid text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
      <h1>Mongo Scraper</h1>
      <h4>(Buzzfeed News Edition)</h4>
    </div>

  </div>

  <div class="container-fluid article-container">
    {{#each items}}
    <div class="card">
      <div class="card-header">
        <h3>
          <a href="{{link}}" target="_blank">

            {{title}}

          </a>
        </h3>
        <a href="#" class="btn btn-primary save-btn">Save Article</a>
      </div>
      <div class="card-body">
        {{summary}}
      </div>

    </div>
    {{/each}}
  </div>
<script>

  $(".clear").on("click", function(req, res) {
  console.log("button working")

  $.ajax({
    method: "GET",
    url: "/clear"
  })
  .then(function(data) {
    window.location.reload();
  })
  
})

$(".scrape-new").on("click", function(req, res) {
  console.log("button working")

  $.ajax({
    method: "GET",
    url: "/scrape"
  })
  .then(function(data) {
    window.location.reload();
  })
  
})


</script>

  
  


