html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  margin-bottom: 80px;
}

.navbar {
  margin-bottom: 0;
  color: white;
}

#brand-override {
  font-size: 26px;
  font-weight: 600;
  color: white;
  font-family: 'Karla', sans-serif;
}

.nav-item {
  margin: 0 5px;
}

.navbar-nav li a {
  color: white;
}

.jumbotron-fluid {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 0;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px 0px lightslategrey;
}

.jumbotron-fluid .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  opacity: 0.7;
}

.jumbotron-fluid .background-image {
  padding: 0;
  height: 600px;
  width: 100%;
  background-image: url("../images/buzzfeed-cat-2.jpg");
  background-size: cover;
  }

  .jumbotron-fluid .caption {
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Karla', sans-serif;
  }

  .jumbotron-fluid .caption h1 {
    font-size: 3em;
    font-weight: 600;
  }

  .jumbotron-fluid .caption h4 {
    font-size: 1.75em;
    font-weight: 500;
  }


.card {
  margin-bottom: 15px;
  box-shadow: 0 5px 10px 0px lightslategrey, 0 5px 10px 0px dodgerblue;
  position: relative;
}

.card-header a {
  color: seagreen;
  font-family: 'Karla', sans-serif;
}

.card .card-header { 
  background-color: aquamarine;
}

a.save-btn {
  color: white;
}

.card-body{
  font-weight: 500;
  opacity: 0.8;
  background-color: lightyellow;
}

.article-container {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
}

.footer p {
  text-align: center;
  padding-top: 10px;
}